@page "/"
@using static Components.Location
@using static Components.City
@using static Components.Weather
@using static Components.WeatherIconParser
@inject IJSRuntime JSRuntime


<body class="main">

    <div class="location">
        <h1 class="locationName">@Place</h1>
    </div>


    <div>
        <canvas class="weatherIcon" width="200" height="200">Icon</canvas>
    </div>


    <h1 class="error" style="text-align: center; margin-top: -10em;">@ErrorMessage</h1>


    <div class="temperature">

        <div @onclick="ToggleTemperatureUnit" class="tempDegreeSection" title="Change Unit">
            <h2 class="tempDegree">@Temp</h2>
            <span class="tempUnit">@TempUnit</span>
        </div>

        <div class="tempDescriptionSection">
            <h3 class="tempDescription">@Description</h3>
        </div>

    </div>

</body>



@code {
    protected override async Task OnInitializedAsync()
    {
        while (Coords == "lat long" || Coords == "0 0")
        {
            if (Coords == "1 1")
                break;

            await Task.Delay(1000);
            await GetCurrentCoords();
        }
        @* await Task.Delay(5000); *@
        @* await GetCurrentCoords(); *@
        ParseCoords();
        GetCityDetails();
        UpdateDOMElements();
    }

    private async Task GetCurrentCoords()
    {
        Coords = await JSRuntime.InvokeAsync<string>("GetCurrentCoords");
    }

    private async Task SetIcon(string currentIcon)
    {
        await JSRuntime.InvokeVoidAsync("SetIcon", currentIcon);
    }

    private async Task RemoveErrorMessage()
    {
        await JSRuntime.InvokeVoidAsync("RemoveErrorMessage");
    }

    public async void UpdateDOMElements()
    {
        while (String.IsNullOrEmpty(Place))
        {
            await Task.Delay(1000);
            StateHasChanged();
        }

        await RemoveErrorMessage();
        await SetIcon(WeatherIcons[Icon]);

        @* int time = 10;

        while (time > 0)
        {
            time--;
            StateHasChanged();

            if (Icon != 0)
            {
                await RemoveErrorMessage();
                await SetIcon(WeatherIcons[Icon]);
            }

            await Task.Delay(1000);
        } *@
    }
}
